<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [ ]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. 
#The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

In [4]:
#Question 1 CM Response: 

# You want to create the variable and have it exist so you create a placeholder variable. 

initial_variable = None

#CM Notes: I'm confused how this would be helpful though. 
#If i need a variable to exist for the program to run, in what case would I not have a starting value?



### P2.PY

In [6]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and
#add a note to remind yourself what this variable represents. 
#Now print it out without re-typing the number.



# Create another variable that represents your favorite color, and do the same steps as above.

'\nBasic Variables\n'

In [103]:
#Question 2 CM Response: 
favorite_number = 25 #this is my favorite number 
print(favorite_number)

favorite_color = 'Lilac'
print(favorite_color)

25
Lilac



### P3.PY

In [ ]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. 
#Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

In [101]:
#Question 3 CM Response: 

lyrics = '''
All the leaves are brown
And the sky is gray
I went for a walk
On a winters day'''

song_title = 'California Dreamin'
artist =  'The Mamas & the Papas'
print(f'Artist: {artist} \n\nSong Title: {song_title} \n\nLyrics Sample: {lyrics}')

Artist: The Mamas & the Papas

Song Title: California Dreamin

Lyrics Sample:
All the leaves are brown
And the sky is gray
I went for a walk
On a winters day



## TYPECASTING

### P1.PY

In [26]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

In [104]:
#Question 4 CM Response: 

#Step 1: Converting to floats
int_to_float_5 = float(five) 
int_to_float_0 = float(zero)
int_to_float_neg_8 = float(neg_8)
int_to_float_neg_22 = float(neg_22)

#Step 2: Converting to ints
float_to_int_5 = int(int_to_float_5) 
float_to_int_0 = int(int_to_float_0)
float_to_int_neg_8 = int(int_to_float_neg_8)
float_to_int_neg_22 = int(int_to_float_neg_22)

#Step 3: Printing the results
print('Float Results: \n')
print(f'result: {int_to_float_5}, datatype: {type(int_to_float_5)}\n')
print(f'result: {int_to_float_0}, datatype: {type(int_to_float_0)} \n')
print(f'result: {int_to_float_neg_8}, datatype: {type(int_to_float_neg_8)} \n')
print(f'result: {int_to_float_neg_22}, datatype: {type(int_to_float_neg_22)} \n')
print('Int Results: \n')
print(f'result: {float_to_int_5}, datatype: {type(float_to_int_5)} \n')
print(f'result: {float_to_int_0}, datatype: {type(float_to_int_0)} \n')
print(f'result: {float_to_int_neg_8}, datatype: {type(float_to_int_neg_8)} \n')
print(f'result: {float_to_int_neg_22}, datatype: {type(float_to_int_neg_22)} \n')

Float Results:

result: 5.0, datatype: <class 'float'>

result: 0.0, datatype: <class 'float'>

result: -8.0, datatype: <class 'float'>

result: -22.0, datatype: <class 'float'>

Int Results:

result: 5, datatype: <class 'int'>

result: 0, datatype: <class 'int'>

result: -8, datatype: <class 'int'>

result: -22, datatype: <class 'int'>



### P2.PY

In [43]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. 
# Print out each result as well as its data type. 
# What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

In [67]:
#Question 5 CM Response:

#Step 1: Print out original types to confirm that they are ints and booleans 
print(f'Original Results: {type(five)}, {type(zero)}, {type(neg_8)}, {type(T)}, {type(F)}\n')

#Step 2: Convert to strings 
five_string = str(five)
zero_string = str(zero)
neg_8_string = str(neg_8)
T_string = str(T)
F_string = str(F)

#Step 3: Print out results
print(f'String Results: \n\n{five_string} , {type(five_string)};\n{zero_string}, {type(zero_string)};\n{neg_8_string}, {type(neg_8_string)};\n{T_string}, {type(T_string)};\n{F_string}, {type(F_string)}\n ')

#Step 4: Convert back to original types
five_int = int(five_string)
zero_int = int(zero_string)
neg_8_int = int(neg_8_string)
T_bool = bool(T_string)
F_bool = bool(F_string)

#Step 4:Print results
print(f'Convert Back Results: \n\n{five_int} , {type(five_int)};\n{zero_int}, {type(zero_int)};\n{neg_8_int}, {type(neg_8_int)};\n{T_bool}, {type(T_bool)};\n{F_bool}, {type(F_bool)}; ')

#Step 4
#I notice that the last one was originally False and when you convert it back to a boolean it defaults to True

Original Results: <class 'int'>, <class 'int'>, <class 'int'>, <class 'bool'>, <class 'bool'>

String Results:

5 , <class 'str'>;
0, <class 'str'>;
-8, <class 'str'>;
True, <class 'str'>;
False, <class 'str'>

Convert Back Results:

5 , <class 'int'>;
0, <class 'int'>;
-8, <class 'int'>;
True, <class 'bool'>;
True, <class 'bool'>;



### P3.PY

In [93]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result.

ten = 10

In [98]:
#Question 6 CM Response:

#A: 
bool_one = bool(one)
bool_zero = bool(zero)
print(f'{bool_one}, {type(bool_one)}, {bool_zero}, {type(bool_zero)}\n')

#B: 
float_one = float(bool_one)
float_zero = float(bool_zero)
print(f'{float_one}, {type(float_one)}, {float_zero}, {type(float_zero)}\n')

#C: 
int_one = int(float_one)
int_zero = int(float_zero)
print(f'{int_one}, {type(int_one)}, {int_zero}, {type(int_zero)}\n')

#D: 
ten_bool = bool(ten)
print(f'{ten_bool}, {type(ten_bool)}')

True, <class 'bool'>, False, <class 'bool'>

1.0, <class 'float'>, 0.0, <class 'float'>

1, <class 'int'>, 0, <class 'int'>

True, <class 'bool'>



### P4.PY

In [99]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0
bool_true = True
bool_false = False


# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. 
# Print the result and the datatype of the result.



# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. 
# Print the result and the datatype of the result.

In [ ]:
#Question 7 CM Response:

# This question i think is wrong based on what the question is asking -- no strings and similar to the question above



## OPERATORS

### P1.PY

In [86]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50

# Subtract 90

# Multiply 10

# Divide 150

# Modulus 3

In [92]:
#Question 8 CM Response:
orig_var = 100
first_operation = orig_var + 50
second_operation = first_operation - 90
third_operation = second_operation * 10 
fourth_operation = third_operation / 150 
fifth_operation = fourth_operation// 3

print(f'Original Value: {orig_var}\nFirst Operation: {first_operation}\nSecond Operation: {second_operation}\nThird Operation: {third_operation}\nFourth Operation: {fourth_operation}\nFifth Operation: {fifth_operation}')

Original Value: 100
First Operation: 150
Second Operation: 60
Third Operation: 600
Fourth Operation: 4.0
Fifth Operation: 1.0



### P2.PY

In [ ]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
#Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

In [107]:
#Question 9 CM Response:

sent_1 = 'I will go to work in the morning'
sent_2 = 'and I will attend class in the evening'
print(f'{sent_1}, {sent_2}')

I will go to work in the morning, and I will attend class in the evening



### P3.PY

In [84]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2



# B)
c = '0'
d = '2'



# C)
e = "0"
f = 2

In [85]:
#Question 10 CM Response

#convert as necessary in order to make the addition 
q_a = a+b
q_b = int(c)+int(d)
q_c = int(e)+f
print(q_a)
print(q_b)
print(q_c)

2
2
2



### P4.PY

In [82]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True



# B)
c = False
d = False



# C)
e = True
f = False

In [83]:
#Question 11 CM Response
q_a = a+b
q_b = c+d
q_c = e+f
print(q_a)
print(q_b)
print(q_c)

2
0
1